<div metal:define-macro="content" class="container">
	<div class="add-form">
		<h3>Add Device</h3>
		<tal:block tal:condition="php: isset(notification)"> 
			<div class="${php: isset(notification[1]) ? notification[1] : ''}" tal:content="php: notification[0]"></div> 
		</tal:block>
		<form method="post" class="form-signin">
			<div class="input-wrapper">
				<label for="inputName" class="sr-only">Name*</label>
				<tal:block class="error" tal:content="structure php: phptal.Form.isFieldError('Device.name') ? phptal.Form.error('Device.name') : '' "></tal:block>
				<input type="text" name="data[Device][name]" id="inputName" class="form-control" placeholder="" tal:attributes="value php: phptal.request.data('Device.name')" />
			</div>

			<div class="input-wrapper">
				<label for="inputDescription" class="sr-only">Product Number</label>
				<tal:block class="error" tal:content="structure php: phptal.Form.isFieldError('Device.product_no') ? phptal.Form.error('Device.product_no') : '' "></tal:block>
				<input type="text" name="data[Device][product_no]"  id="inputDescription" class="form-control" placeholder=""  tal:attributes="value php: phptal.request.data('Device.product_no')"/>
			</div>
			
			<div class="input-wrapper">
				<label for="inputDescription" class="sr-only">Details</label>
				<tal:block class="error" tal:content="structure php: phptal.Form.isFieldError('Device.details') ? phptal.Form.error('Device.details') : '' "></tal:block>
				<input type="text" name="data[Device][details]"  id="inputDescription" class="form-control" placeholder="" tal:attributes="value php: phptal.request.data('Device.details')"/>
			</div>


			<div class="input-wrapper">
				<label for="inputDescription" class="sr-only">Category</label>
				<tal:block class="error" tal:content="structure php: phptal.Form.isFieldError('Device.category_id') ? phptal.Form.error('Device.category_id') : '' "></tal:block>
				<select class="form-control" name="data[Device][category_id]" >
					<tal:block tal:repeat="category categories">
						<option value='0' tal:content="category/DeviceCategory/name" tal:attributes="value category/DeviceCategory/category_id; selected php: phptal.request.data('Device.category_id') == category['DeviceCategory']['category_id'] ? true : ''" >Name</option>
					</tal:block>
				</select>
			</div>

			<div class="input-wrapper">
				<label for="inputDescription" class="sr-only">Status</label>
				<tal:block class="error" tal:content="structure php: phptal.Form.isFieldError('Device.status') ? $this->Form->error('Device.status') : '' " ></tal:block>
				<select class="form-control" name="data[Device][status]" >
					<option value='0' tal:attributes="selected php: phptal.request.data('Device.status') == 0 ? true : ''" >Active</option>
					<option value='1' tal:attributes="selected php: phptal.request.data('Device.status') == 1 ? true : ''">Inactive</option>
				</select>
			</div>

			<input type="submit" value="Add Device" class="btn btn-primary btn-block" />
		</form>
	</div>
</div>