<div metal:define-macro="content" class="container list">
    <h3 class="col-md-12 col-sm-12 col-xs-12 padding-0">
        <span class="pull-left">Devices</span>
        <a class="btn btn-default pull-left add" tal:condition="php: isset(role) && role EQ 'admin' " tal:attributes="href php: phptal.Html.url(array('controller' => 'devices','action'=>'add'),true)">
            <i class="glyphicon glyphicon-plus-sign" />
        </a>
    </h3>
    
    <ul class="nav nav-tabs">
        <tal:block tal:repeat="category categories"> 
            <li tal:define="count repeat/category/number" tal:attributes="class php: count EQ 1 ? 'active' : '' ">
                <a tal:define = "id category/DeviceCategory/category_id" data-toggle="tab" href="#home" tal:content="category/DeviceCategory/name" tal:attributes="href php: '#category'.id">
                    Name
                </a>
            </li>
        </tal:block>
    </ul>
   
    <div class="tab-content">
        <tal:block tal:repeat="category categories" >
            <div class="tab-pane fade ${php: count EQ 1 ? 'active in' : ''} " tal:define = "id category/DeviceCategory/category_id; count repeat/category/number" tal:attributes="id php: 'category' . id">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Employee ID</th>
                        <th>Borrower</th>
                        <th>Borrowed Date</th>
                        <th>Action</th>
                    </tr>

                    <tr tal:repeat="device category/Device">
                        <td tal:content="device/name">Name</td>
                        <td tal:define="deviceId device/device_id; returned_date borrower/${deviceId}/Borrower/returned_date | nothing; borrowed_date borrower/${deviceId}/Borrower/borrowed_date | nothing"  tal:content="php: (empty(borrowed_date) || !empty(returned_date)) && device['status'] EQ 0 ? 'Available' : 'Unavailable'" class="${php: (empty(borrowed_date) || !empty(returned_date)) && device['status'] EQ 0  ? 'green' : 'red'}">Status</td>
                        <td tal:define="deviceId device/device_id" tal:content="borrower/${deviceId}/User/employee_id | nothing">Employee Id</td>
                        <td tal:define="deviceId device/device_id" tal:content="borrower/${deviceId}/User/name | nothing">Name</td>
                        <td tal:define="deviceId device/device_id; borrowed_date borrower/${deviceId}/Borrower/borrowed_date | nothing" tal:content="php: borrowed_date EQ '0000-00-00 00:00:00' ? ' ' : borrowed_date">Borrowed Date</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Action
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a tal:define="device_id device/device_id" tal:condition="exists:actionEdit" tal:attributes="href php: actionEdit . '/' . device_id">
                                            Edit
                                        </a>
                                    </li>
                                    <li>
                                        <a tal:define="device_id device/device_id" tal:condition="exists:actionView" tal:attributes="href php: actionView . '/' . device_id">
                                            View
                                        </a>
                                    </li>
                                    <li>
                                        <!-- for delete -->
                                        <a tal:define="deviceId device/device_id; borrowed_date borrower/${deviceId}/Borrower/borrowed_date | nothing" tal:condition="php: isset(role) && role EQ 'admin' && empty(borrowed_date) " tal:content="structure php: phptal.Form.postLink('Delete', array('action'=>'delete', device['device_id']), array('confirm' => 'Do you want to delete?') )">
                                        </a>
                                    </li>
                                    <li>
                                        <!-- for setting borrowers -->
                                        <a tal:define="deviceId device/device_id; borrowed_date borrower/${deviceId}/Borrower/borrowed_date | nothing" tal:condition="php: isset(role) && role EQ 'admin' && empty(borrowed_date) " tal:content="structure php: phptal.Html.link('Set Borrower', array('controller'=>'borrowers','action'=>'add', device['device_id']) )">
                                        </a>
                                    </li>
                                    <li>
                                        <!-- for borrowing -->
                                        <tal:block  tal:define="deviceId device/device_id; returned_date borrower/${deviceId}/Borrower/returned_date | nothing; borrowed_date borrower/${deviceId}/Borrower/borrowed_date | nothing" tal:condition="php: isset(role) && role EQ 'employee' && (empty(borrowed_date) || !empty(returned_date)) && device['status'] EQ 0" tal:content="structure php: phptal.Form.postLink('Borrow', array('controller'=>'borrowers','action'=>'borrow', device['device_id']))">
                                        </tal:block>
                                    </li>
                                    <li>
                                        <!-- for admin return -->
                                       <tal:block tal:define="deviceId device/device_id | nothing; returned_date borrower/${deviceId}/Borrower/returned_date | nothing; borrowed_date borrower/${deviceId}/Borrower/borrowed_date | nothing; user_id borrower/${deviceId}/User/user_id | nothing" tal:condition="php: isset(role) && role EQ 'admin' && (!empty(borrowed_date) || empty(returned_date)) && device['status'] EQ 0 && isset(borrower[deviceId])" tal:content="structure php: phptal.Form.postLink('Return', array('controller'=>'borrowers','action'=>'returnDevice', borrower[deviceId]['Borrower']['borrower_id']))">
                                        </tal:block>
                                    </li>
                                    <li>
                                        <!-- for returning -->
                                        <tal:block tal:define="deviceId device/device_id; returned_date borrower/${deviceId}/Borrower/returned_date | nothing; borrowed_date borrower/${deviceId}/Borrower/borrowed_date | nothing; user_id borrower/${deviceId}/User/user_id | nothing" tal:condition="php: isset(role) && role EQ 'employee' && phptal.Session.read('Auth.User.user_id') EQ user_id && (!empty(borrowed_date) || empty(returned_date)) && device['status'] EQ 0 && isset(borrower[deviceId])" tal:content="structure php: phptal.Form.postLink('Return', array('controller'=>'borrowers','action'=>'returnDevice', borrower[deviceId]['Borrower']['borrower_id']))">
                                        </tal:block>
                                    </li>
                                    <li>
                                        <!-- getting device history -->
                                        <tal:block tal:condition="php: isset(role) && role EQ 'admin'" tal:content="structure php: phptal.Html.link('Device Usage History', array('controller'=>'borrowers','action'=>'deviceUsage', device['device_id'] ))">
                                        </tal:block>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </tal:block>
    </div>
</div>