/*-------------- header ----------------*/

#header{
    padding:0;
}

#header .navbar{
    padding: 0em 2em;
}


/*-------------- form and form components ----------------*/

.form-control{
	margin-bottom: 10px;
}

form .btn{
	display: block!important;
	width: auto!important;
    margin-right: auto;
    margin-left: auto;
    background: #337ab7!important;
    color: white!important;
    text-shadow: none;
    box-shadow: none;
}

.users-form{
	width: 30em;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    border: 1px solid #cccccc;
    padding: 3em 2em 5em;
    border-radius: 10px;
}

.users-form .form-signin-heading{
    margin: 0px 0px 20px;
    color: #464646;
}

.users-form input[type='submit']{
    margin-top: 20px;
}

.input-wrapper{
    margin-bottom:0px;
    position:relative;
}

.error-message{
    padding: 0px;
    color:#a70404;
}

.add-form{
    width: 30em;
    margin-right: auto;
    margin-left: auto;
}

.add-form form{
    margin-top: 1.5em;
}

.add-form .sr-only{
    position: relative;
    width: auto;
    height: auto;
    vertical-align: middle;
}

.add-form .form-control{
    margin-bottom: 13px;
    margin-top: 5px;
}

.add-form .error-message{
    display:inline-block;
    margin-left: 5px;
}

#search-form{
    width: 100%;
    display: block;
    margin-top: 1em;
}

#search-form input[type="text"]{
    width: 15%;
    display: inline-block;
}

#search-form button{
    display:inline-block!important;
}

/*-------------- tables ----------------*/
.list .table{
    margin-top:5px;
    border: 1px solid #dddddd;
}

.tab-content table, .tab-content table th{
    border-top:0px!important;
}

.tab-content table{
    margin-top:1.5em!important;
    border:0px!important;
}

/*-------------- others ----------------*/

.padding-0{
    padding-left:0px;
    padding-right:0px;
}

.red{
    color:red;
}

.green{
    color:green;
}

.list .btn.add{
    margin-left: 6px;
    top: 5px;
    position: relative;
    border: none;
    font-size: 16px;
    padding: 0px;
    color: #337ab7;
}

.list .btn.add:hover{
    background:transparent;
    color:#cccccc;
}


.list h3{
    margin-bottom:1em;
}

ul.list-details{
    margin-top: 2em;
}

ul.list-details li{
    margin:5px 0px;
}

ul.list-details li.title{
    font-weight:600;
}

ul.col-2 li{
    width:49.5%;
    vertical-align: middle;
}

#change-password .modal-body{
    padding: 15px 50px;
}

#result{
    padding: 0.5em;
    margin-top: -14px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    box-shadow: 3px 2px 10px #cccccc;
    display:none;
}

#result span{
    display:block;
    cursor: pointer;
    margin-bottom: 5px;
}

#result span:hover{
    color:gray;
}

#result .loading{
    height:50px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

#result p{
    margin-bottom:0px;
}


#for-print-container{
    clear:both;
    background: gray;
    padding: 2em;
    overflow: auto;
    max-height: 50em;
    /*position:  relative;*/
    min-height: 20em;
}

#for-print{
    background:white;
    padding:2em;
}

#for-print table{
    margin-top:1em;
}

#for-print-container #export{
    color: white;
    font-size: 28px;
    position: relative;
    background: black;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 3px 7px 7px #cccccc;
    cursor: pointer;
    text-decoration: none;
}

#for-print-container #export:hover{
    /*color:gray;*/
    background:#383737;
}

#for-print-container .icons{
    position: absolute;
    margin-top: -9px;
}

#for-print-container #btnExport{
    border: 0px;
    background: black;
    color: white;
    padding: 7px;
    border-radius: 50%;
    box-shadow: 3px 7px 7px #cccccc;
    cursor: pointer;
    font-size: 21px;
    position: relative;
    width: 45px;
    top: -5px;
    margin-left: 5px;
}

.top-content input[type="submit"]{
    display:inline-block!important;
}

.top-content form{
    padding: 1em 0em;
}

.top-content form .form-control{
    width: auto;
    margin: 0px;
    display: inline-block;
}