.form-control{
	margin-bottom: 10px;
}

form .btn{
	display: block!important;
	width: auto!important;
    margin-right: auto;
    margin-left: auto;
    background: #337ab7!important;
    color: white!important;
}

.users-form{
	width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.input-wrapper{
    margin-bottom:0px;
    position:relative;
}

.error-message{
    padding: 0px;
    color:#a70404;
    /*position: absolute;*/
    /*top: -20px;*/

}

#header{
    padding:0;
}

.list .btn.add{
    margin-left:10px;
}

.list .table{
    margin-top:5px;
}

.padding-0{
    padding-left:0px;
    padding-right:0px;
}