<div metal:define-macro="content" class="container">
	<div class="users-form">
		<h3>Edit Device Category</h3>
		<tal:block tal:condition="php: isset(notification)"> 
			<div class="${php: isset(notification[1]) ? notification[1] : ''}" tal:content="php: notification[0]"></div> 
		</tal:block>
		<form method="post" class="form-signin">
			<input type="hidden" tal:attributes="value php: categories['DeviceCategory']['category_id']" name="id" />
			<div class="input-wrapper">
				<label for="inputName" class="sr-only">Name</label>
				<tal:block class="error" tal:content="structure php: phptal.Form.isFieldError('DeviceCategory.name') ? phptal.Form.error('DeviceCategory.name') : '' "></tal:block>
				<input type="text" name="data[DeviceCategory][name]" id="inputName" class="form-control" placeholder="Name" tal:attributes="value php: categories['DeviceCategory']['name']"/>
			</div>
			
			<div class="input-wrapper">
				<label for="inputDescription" class="sr-only">Description</label>
				<tal:block class="error" tal:content="structure php: phptal.Form.isFieldError('DeviceCategory.description') ? phptal.Form.error('DeviceCategory.description') : '' "></tal:block>
				<input type="text" name="data[DeviceCategory][description]"  id="inputDescription" class="form-control" placeholder="Description" tal:attributes="value php: categories['DeviceCategory']['description']"/>
			</div>

			<input type="submit" value="Save Category" class="btn btn-lg btn-primary btn-block" />
		</form>
	</div>
</div>