<div metal:define-macro="content" class="container list">
	<tal:block tal:condition="php: phptal.Session.check('Message.bad')"> 
        <tal:block tal:replace="structure php:  phptal.Session.flash('bad')"> 
        </tal:block>
    </tal:block>
     <div class="top-content col-md-12 col-md-12 col-md-12">
         <h3 class="col-md-4 col-sm-4 col-xs-4 padding-0">
            <span class="pull-left">Device Categories</span>
            <a class="btn btn-default pull-left add" tal:attributes="href php: phptal.Html.url('/device-categories/add',true)">
                <i class="glyphicon glyphicon-plus-sign" />
            </a>
        </h3>
        <form class="col-md-8 col-md-8 col-md-8 padding-0 text-right" method="get" action="">
            <input type="text" name="keyword" id="inputName" class="form-control" placeholder="" tal:attributes="value php: phptal.request.data('keyword')" />
            <input type="submit" class="btn" name="search" value="Go" />
        </form>
    </div> 
    
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Action</th>
        </tr>

        <tr tal:repeat="category categories">
            <td tal:content="category/DeviceCategory/name" ></td>
            <td tal:content="category/DeviceCategory/description"></td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Action
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a tal:define="category_id category/DeviceCategory/category_id" tal:condition="exists:actionEdit" tal:attributes="href php: actionEdit . '/' . category_id">
                                Edit
                            </a>
                        </li>
                        <li>
                            <a tal:define="category_id category/DeviceCategory/category_id" tal:condition="exists:actionView" tal:attributes="href php: actionView . '/' . category_id">
                                View
                            </a>
                        </li>
                        <li>
                            <a tal:content="structure php: phptal.Form.postLink('Delete', array('action'=>'delete', category['DeviceCategory']['category_id']), array('confirm' => 'Do you want to delete?') )">
                            </a>
                          
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
    <tal:block metal:use-macro="Global/paginate.html/paginate"></tal:block>
</div>