<div metal:define-macro="content" class="container">
	<table class="table">
		<tbody>
			<tr>
				<td>Username</td>
				<td tal:condition="exists:user/User/username" tal:content="user/User/username">username</td>
			</tr>
			<tr>
				<td>Employee ID</td>
				<td tal:condition="exists:user/User/employee_id" tal:content="user/User/employee_id">employee id</td>
			</tr>
			<tr>
				<td>Name</td>
				<td tal:condition="exists:user/User/name" tal:content="user/User/name">name</td>
			</tr>
			<tr>
				<td>Number</td>
				<td tal:condition="exists:user/User/number" tal:content="user/User/number">name</td>
			</tr>
			<tr>
				<td>Level</td>
				<td tal:condition="exists:user/User/level" tal:content="php: user['User']['level'] == 0 ? 'Admin':'Employee' ">level</td>
			</tr>
			<tr>
				<td>Status</td>
				<td tal:condition="exists:user/User/status" tal:content="php: user['User']['status'] == 0 ? 'Active':'Inactive' ">status</td>
			</tr>
		</tbody>
	</table>
</div>